.item {
  margin: 10px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: rgb(0, 87, 184);
  background: linear-gradient(
    180deg,
    rgba(0, 87, 184, 1) 40%,
    rgba(255, 215, 0, 1) 60%
  );
  border: solid 1px rgb(1, 1, 1);
}

.item:hover,
.item:focus {
  transform: perspective(500px) scale(1) translateZ(100px);
}
.status {
  display: block;
  margin-left: 5px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: red;
  outline: 1px solid black;
}

.online {
  background-color: green;
}
.avatar {
  margin: 10px 40px 10px 7px;
}
.name {
  font-weight: 900;
}
