.transaction_history {
  width: 60%;
  margin-top: 100px;
  margin-bottom: 50px;
  border-radius: 5px;
  overflow: hidden;
  background: rgb(0, 87, 184);
  background: linear-gradient(
    180deg,
    rgba(0, 87, 184, 1) 40%,
    rgba(255, 215, 0, 1) 60%
  );
}
.title {
  padding: 10px;
}
.line {
  background-color: whitesmoke;
}
.value {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
